h1{

font-family: 'Love Ya Like A Sister', cursive;
color: rgba(255, 238, 0, 0.919);
font-size: 60px;
text-align: center;

}

h2{

    font-family: 'Love Ya Like A Sister', cursive;
    color: rgba(255, 238, 0, 0.919);
    font-size: 40px;
    text-align: center;
    
    }

p{
    font-family: 'Dawning of a New Day', cursive;
    color: beige;
    font-size: 40px;
}


body{

 background-color: rgb(158, 194, 154);
}

.container1{
display: flex;
justify-content: center;
margin-left: 100px;
margin-right: 100px;
flex-direction: column;

}

.container2{
    display: flex;
    justify-content:center;
    flex-direction: row;
    margin: 10px;
}


#color{
    color: limegreen;
}

.lemon-image{
    max-width: 300px;
    margin: 30px;
}

.lime-image{
    max-width: 300px;
    margin: 10px;
}
.pomelo-image{
    max-width: 400px;
    margin: 30px;
}

.orange-image{
    max-width: 300px;
    margin: 30px;
}

.bloodorange-image{
    max-width: 300px;
    margin: 30px;
}

.mandarin-image{
    max-width: 300px;
    margin: 30px;
}

.clementine-image{
    max-width: 300px;
    margin: 30px;
}

.yuzu-image{
    max-width: 300px;
    margin: 30px;
}

.grapefruit-image{
    max-width: 400px;
    margin: 10px;
}


.maincontainer{
    margin: 50px;
    text-align: center;
}


#popup-text2{
    color: rgb(62, 251, 62);
  }

  #popup-text4{
    color: rgb(255, 107, 131);
  }

  #popup-text5{
    color:orange;
  }

  #popup-text6{
    color:rgb(235, 167, 42);
  }

  #popup-text7{
    color:rgb(209, 136, 0);
  }

  #popup-text8{
    color:rgb(76, 144, 49);
  }

  #popup-text9{
    color: orangered;

  }

  #end{

    margin: 80px;
    border-style: dashed;
  }



.tooltip-container {
    position: relative;
    display: flex;
    place-content: center;
}



#tooltip-text1 {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 1;
    padding: 8px;
    font-size: 5rem;
    color: beige;
    animation: fadeIn 0.6s;
}

#tooltip-text2 {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 1;
    padding: 8px;
    font-size: 5rem;
    color: beige;
    animation: fadeIn 0.6s;
}

#tooltip-text3 {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 1;
    padding: 8px;
    font-size: 5rem;
    color: beige;
    animation: fadeIn 0.6s;
}

#tooltip-text4 {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 1;
    padding: 8px;
    font-size: 5rem;
    color: beige;
    animation: fadeIn 0.6s;
}

#tooltip-text5 {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 1;
    padding: 8px;
    font-size: 5rem;
    color: beige;
    animation: fadeIn 0.6s;
}

#tooltip-text6 {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 1;
    padding: 8px;
    font-size: 5rem;
    color: beige;
    animation: fadeIn 0.6s;
}

#tooltip-text7 {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 1;
    padding: 8px;
    font-size: 5rem;
    color: beige;
    animation: fadeIn 0.6s;
}

#tooltip-text8 {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 1;
    padding: 8px;
    font-size: 5rem;
    color: beige;
    animation: fadeIn 0.6s;
}

#tooltip-text9 {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 1;
    padding: 8px;
    font-size: 5rem;
    color: beige;
    animation: fadeIn 0.6s;
}

.tooltip-button{
    border: none;
    background: none;

}


@keyframes fadeIn {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}
